{% spaceless %}

{# ------------------------------------------------------- #}
{# PARTIAL TEMPLATE: MEGANAV                               #}
{# ------------------------------------------------------- #}

<div class="patreon_floater">
  <p>
    Unlike other sites, we're <strong>keeping Schmopera ad-free</strong>. We want to keep our site clean and our opinions our own. Support us for as little as <strong>$1.00 per month</strong>.</p>
  </p>
  <nav class="nav--donate">
    <a href="https://patreon.com/schmopera" target=_blank class="donate--patreon">Become a supporter</a>
    <a href="https://paypal.me/schmopera" target=_blank class="donate--paypal">Make a contribution</a>
  </nav>
</div>

{% endspaceless %}
